
// Footer
$footer-outside-bg :				$white !default;
$footer-bg: 						$nocolor !default;
$footer-color: 						#252525 !default; 

$footer-nav-outsite-bg:             #252525 !default;
$footer-nav-bg:                     $footer-nav-outsite-bg !default;