
/*  
 * LAYOUT VARIABLES 
 */

// Topbar 
$topbar-outside-bg: 				#fff !default;
$topbar-bg: 						$nocolor !default;
$topbar-color: 						#6d6d6d !default; 
$topbar-font-size: 					$font-size-base - 1;
$topbar-height:                     36px !default;

// header main
$headermain-outside-bg :			#fff !default;
$headermain-bg: 			 		$nocolor !default;
$headermain-color:					$text-color !default;

