<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>captchadd</name>
	<displayName><![CDATA[Captcha Add]]></displayName>
	<version><![CDATA[1.0]]></version>
	<description><![CDATA[Protect your shop from spammers with secured captcha]]></description>
	<author><![CDATA[Librasoft]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall this module and delete ALL your parameters ?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>