.newsletter-template-list th.name {
	width: 40.576441103%;
}

.newsletter-template-list th.date {
	width: 40.576441103%;
}

.newsletter-template-list th.attachment {
	width: 10.576441103%;
}

.newsletter-template-list td.attachment {
	text-align: center;
}

.newsletter-template-list th.actions {
	width: 8.2706766917293233082706766917293%;
}