.forward-list .count {
	text-align: center;
	width: 7.8651685393258426966292134831461%;
}

.forward-list .from {
	width: 40.551583248212461695607763023493%;
}

.forward-list .date_add {
	width: 32.379979570990806945863125638407%;
}

.forward-list .actions {
	width: 17.875383043922369765066394279877%;
}